name: Docs Validation
on:
  workflow_dispatch: {}
  schedule:
    - cron: '0 4 * * 0' # weekly docs validation

jobs:
  docs-validate:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm
      - name: Install
        run: npm ci --legacy-peer-deps
      - name: Validate Docs
        run: npm run docs:validate
